.subpage {
  margin: 1em;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  opacity: 0;
  animation-delay: 1s;
  animation: fadeIn 0.8s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.flex-container > * {
  max-width: 50%;
}
img {
  width: 100%;
  height: auto;
}
.left-column,
.right-column {
  /* overflow-y: auto; */
  overflow-x: hidden;
  flex: 1;
}
.left-column {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 6em;
}
.right-column p {
  /* font-size: 1.2rem;
  line-height: 1.8rem; */
  white-space: pre-wrap;
  padding-bottom: 1em;
}
.artist-header {
  padding-left: 1em;
}
.artwork-gallery img {
  cursor: pointer;
  width: 100%;
}
.left-column img:hover {
  filter: blur(2px);
  cursor: pointer;
}
.full-page-image {
  position: fixed;
  z-index: 400;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow-x: scroll;
}

.full-page-image img {
  width: auto;
  max-height: calc(100% - 1em);
}
.back-button {
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  z-index: 300;
}

.back-button:hover {
  transition: 0.2s;
  box-shadow: 0 0 0.5em cyan;
}

@media screen and (max-width: 768px) {
  .subpage {
    display: block;
    max-height: 100%;
  }
  .flex-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 1em;
  }
  .flex-container > * {
    max-width: 100%;
  }
  .left-column,
  .right-column {
    width: 100%;
    height: auto;
    padding: 10px 0;
  }
  .right-column p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    padding-bottom: 2em;
  }
  .left-column {
    padding-bottom: 6rem;
  }
  .artwork-gallery img {
    width: 100%;
    height: auto;
  }
  .full-page-image img {
    max-width: 90%;
    max-height: calc(100% - 1em);
  }
}
