* {
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overscroll-behavior: none;
  background: #ffff00;
  color: #0000ff;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
}
body::-webkit-scrollbar {
  display: none;
}
.app-wrapper {
  width: 100vw;
  height: 100vh;
}

.label-box {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 145px;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
  z-index: 100;
  pointer-events: none;
}
.smll-txt {
  font-size: 1rem;
  line-height: 1.3rem;
}
p {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 50vw;
  white-space: pre-wrap;
}

h1 {
  font-weight: 100;
  font-size: 2rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  text-decoration: underline;
}
h2 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-top: 3rem;
}
h3 {
  font-weight: 100;
  font-size: 1.8rem;
  line-height: 2.4rem;
}

h4 {
  font-weight: 100;
  font-size: 0.6rem;
  line-height: 1rem;
  /* font-family: monospace; */
}
h3 a {
  /* text-transform: uppercase; */
  text-decoration: none;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  background-color: cyan;
}
@media screen and (max-width: 768px) {
  p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    max-width: 100vw;
  }
  h1 {
    font-size: 2rem;
  }
}
